<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/style.css">
    <title>test</title>
</head>

<body>
    <%- include('nav.html') %>

    <div class="jumbotron container">
        <h1 class="display-4">ToDo List</h1>
        <p class="lead">this page show ToDo</p>
        <hr class="my-4">
        <h4>할일들</h4>

        <div style="display: flex; flex-wrap: wrap;">
            <% posts.forEach((x)=> { %>
            <div class="card" style="width: 20%;">
                <div class="card-body">
                    <h5 class="card-title"><%= x.title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= x.date %></h6>
                    <p class="card-text">어쩌고 저쩌고</p>
                    <a href="/detail/<%= x._id %>" class="card-link">자세히 보기</a>
                </div>
            </div>
            <% }); %>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>